@import '~@angular/material/theming';
@import './app/shared/navbar/navbar-theme';
@mixin jaye-app-theme($heme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .jaye-app-background {
    background: mat-color($background, background);

    @include nav-bar-theme($theme);
  }
}
